#add-technology-form {
    max-width: 1200px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(185, 144, 67, 0.459);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.row {
    align-items: center;
}

textarea {
    resize: none;
}

button[type="submit"] {
    width: max-content;
    font-size: 20px;
    font-weight: bold;
}

.input-container.required {
    position: relative;
}

.input-container.required::after {
    --font-size: 1.4rem;
    --offset-k: 2.5;
    --offset: calc(-1 * var(--font-size) / var(--offset-k));

    content: "*";
    font-size: var(--font-size);
    color: red;
    position: absolute;
    top: var(--offset);
    right: var(--offset);
}