.tech-list {
    padding: 20px;
        min-width: 200px;
        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.technologies {
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-height: 80vh;
    overflow-y: auto;
}