.user-settings {
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#user-settings-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.row {
    max-width: 1000px;
}

.current-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}