.tech-filter-panel {
    border: 3px solid rgba(165, 97, 42, 0.788);
}

.status-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-inputs {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}