.tech-card {
    --accent-clr: #ebac378e;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    min-height: 400px;
}

.tech-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meta-info {
    background-color: rgba(255, 255, 255, 0.432);
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tech-card-actions {
    position: absolute;
    right: 20px;
    top: 20px;
}

.tech-card.in-progress {
    background: linear-gradient(to right, var(--accent-clr), #ebac3728);
}

.tech-card.cancelled {
    background: linear-gradient(to right, #eb37378e, #eb373728);
}

.tech-card.not-started {
    background: linear-gradient(to right, #afafaf8e, #e6e6e628);
}

.tech-card.completed {
    background: linear-gradient(to right, #61eb378e, #46eb3728);
}