* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
  font-size: 2rem;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "aside main"
    "aside main";
}

#root>aside {
  grid-area: aside;
  padding: 2rem;
  background-color: rgb(219, 142, 91, 0.5);

  display: flex;
  flex-direction: column;
  gap: 2rem
}

#root>main {
  grid-area: main;
  padding: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}