* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
option,
select {
    font-size: inherit;
}
:root {
  max-height: 100vh;
font-family:
        "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
        Arial, sans-serif;
    font-size: 24px;
    overflow-y:hidden;
}

#root {
  width: 100vw;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul,
ol {
  list-style: none;
  display: flex;
}
button {
    font-size: 1rem;
}
*:disabled:hover {
    cursor: not-allowed
}