* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 24px;
  --accent-clr: #ebac378e;
}
input,
textarea {
  font-size: inherit;
}

#root {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
}
  
aside {
  padding: 20px;
  background-color: rgb(219, 142, 91, 0.5);

  display: flex;
  flex-direction: column;
  }
  
  main {
    padding: 20px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
