* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
option,
select {
  font-size: inherit;
}

:root {
  font-family:
      "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    font-size: 24px;
}

#root {
min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
  }
  
  aside {
    padding: 20px;
    background-color: rgb(219, 142, 91, 0.5);
  
    display: flex;
    flex-direction: column;
    gap: 20px
  }
  
  main {
    padding: 20px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul,
ol {
  list-style: none;
  display: flex;
}

button {
  font-size: 0.7rem;
}

*:disabled:hover {
  cursor: not-allowed
}